// form.html.erb
.field, .actions{
  margin: 30px 0;
  @include tac();
  .form-label{
    margin-bottom: 5px;
    letter-spacing: 8px;
    font-weight: bold;
  }
  input[type="text"]{
    @include inputBorder(1px, 5px, 5px);
    @include lineGradient(#f9f9f9, #f0f0f0);
    width: 450px;
  }
  textarea{
    @include inputBorder(1px, 5px, 5px);
    @include lineGradient(#f9f9f9, #f0f0f0);
    width: 600px;
    height: 250px;
  }
  .form-image{
    @include inputBorder(1px, 20px, 8px);
    @include mirrorGradient(#888888, #eeeeee, #888888);
    display: inline-block;
    cursor: pointer;
  }
  .form-image:hover{
    background: linear-gradient(45deg, #6cb8ff, #fff66c, #ffa36c);
    background-size: 600% 600%;
    animation: gradationTest 10s ease infinite;
    
  }
  input[type="submit"]{
    @include inputBorder(1px, 5px, 8px);
    @include lineGradient(#f9f9f9, #f0f0f0)
  }
}

.hidden{
  display: none;
}

// canvas_zone...canvasの大きさはメディアクエリを利用し、PCは800x600、iPad以下のwidthで開いた場合にはウィンドウに合わせて収縮させるように設定する。
.canvas-field{
  display: flex;
  justify-content: center;
  #candiv{
    margin-right: 10px;
    border: 4px double #000;
    background-color: #fff;
    }
  .btn-box{
    background-color: gray;
    display: flex;
    ul{
      li{
        list-style: none;
      }
      .cvsbtn{
        border: 1px solid #000;
        border-radius: 5px;
        width: 60px;
        height: 40px;
        margin: 10px;
        cursor: pointer;
        box-shadow: 0 0 10px white;
        text-align: center;
        line-height: 40px;
        // overflow: scroll; -xなしでも挙動変わらんけど...
        overflow-x: scroll;
        // 文章が長くても勝手に改行しない
        white-space: nowrap;
      }
      .btn-black{
        background-color: black;
        color: white;
      }
      .btn-red{
        background-color: red;
        color: yellow;
      }
      .btn-green{
        background-color: green;
        color: yellow;
      }
      .btn-blue{
        background-color: blue;
        color: yellow;
      }
      .btn-white{
        background-color: white;
        color: black;
      }
      .btn-sc_o_marker{
        background-color: rgba(255, 0, 0, 0.5);
      }
    }
  }
}

//new.html.erb, edit.html.erb
.form-title{
  @include tac();
  margin: 30px 0;
}

.form-link{
  @include tac();
}